services:
  scraper-backend:
    build: .
    container_name: isim_scraper
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
